.modal_overlay{
    background-color: #80808099;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; /* para cobrir toda a tela embaixo */
    right: 0; /* para cobrir toda a tela ao lado */

}

.modal_body{
    background-color: white;
    width: 80%;
    max-width: 500px;
    text-align: center;
    padding: 2rem;
    border-radius: 15px;
}

.modal_footer{
  text-align: center;
}

.button{
    padding: 10px;
    cursor: pointer;
}

.button.close{
  margin: 1rem;
}